<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
      <h1>Detail Pae</h1>
      <main>
        <div class="col-md-4">
          <p>Title</p>
          <p>Create Date</p>
          <p>Due Date</p>
          <p>Is Done</p>
          <p>Author</p>
          <p>Description</p>
        </div>
        <div class="col-md-8">
          <p>My To Do</p>
          <p><time>June 15</time></p>
          <p><time> Never </time></p>
          <p>No</p>
          <p>Morgan</p>
          <p>Do It</p>
        </div>
      </main>
  </body>
</html>